/* Header.css */
.header {
    background: linear-gradient(135deg, #9c5ca0, #B551C7, #3B3297); /* Dégradé du violet à l'orange puis au rouge */
    color: rgb(252, 221, 255); /* Couleur du texte */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Vibur", cursive;
    font-weight: 400;
    font-style: normal;
}


.header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    color: rgb(252, 221, 255);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    
    transition: color 0.3s ease;
    font-family: "Vibur", cursive;
    position: relative;
}


.header nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8px;
    width: 0;
    background-color: #D2B0E9; /* Couleur de la ligne */
    transition: width 0.3s ease-in-out;
    border-radius: 25px;
}

.header nav ul li a:hover::after {
    width: 100%;
}

