body {
  background-image: url('/images/simple.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // This is a placeholder image    
}
html, body {
  height: 100%;
  margin: 0;
}

/* Le wrapper doit prendre toute la hauteur de la page */
.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Le contenu principal doit prendre tout l'espace restant */
.main-content {
  flex: 1;
}
